<button
  class="wishlisted-button"
  data-wishlisted
  data-product-gid="{{ product.admin_graphql_api_id }}"
  data-variant-gid="{{ product.selected_or_first_available_variant.admin_graphql_api_id }}"
>
  <span data-wishlisted-label>Add to wishlist</span>
</button>
