{% comment %} Wishlisted: Page block. Add this as a full-width block inside your page template. {% endcomment %}
<div id="wishlisted-page" data-wl-root></div>

{% schema %}
{
  "name": "Wishlisted: Page",
  "target": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_controls",
      "default": true,
      "label": "Show share controls"
    }
  ],
  "javascript": "wishlisted-page.js",
  "stylesheet": "wishlisted-page.css"
}
{% endschema %}
