{% comment %} Deprecated block: use the "Wishlisted: Page" section instead. This block remains to avoid theme errors if previously added. {% endcomment %}
<div id="wishlisted-page" data-wl-root></div>

{% schema %}
{
  "name": "(Deprecated) Wishlisted: Page Block",
  "target": "section",
  "settings": [],
  "javascript": "wishlisted-page.js",
  "stylesheet": "wishlisted-page.css"
}
{% endschema %}
